.md-sidebar--secondary {
  display: none;
}

p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  /* line-height: 1.4em; */
  /* word-wrap: break-word;
  width: 550px; */
}

/* .serif{
  font-family: 'Noto Serif';
  /* margin-left: auto;
  margin-right: auto; */
  
} */
